<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="about">
         <h1>CONTACT ME</h1>
    </div>
    <div class="about-text" style="max-width: 400px; margin: 20px auto; text-align: center;">
        <p><strong>Name:</strong> &nbsp; Yash Chugh </p>
        <p><strong>Email:</strong> &nbsp;ychug46@mail.com</p>
        <p><strong>Phone Number:</strong>  &nbsp;+91-7357333681 </p>
        <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/yash-chugh-76333a223/" target="_blank" style="color: white;;">Yash Chugh</a></p>
        <p><strong>Location:</strong> Jaipur, India</p>
    </div>
</body>
</html>
